@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Rowdies', cursive; */

@font-face {
    font-family:LuckiestGuy ;
    src: url(font/LuckiestGuy.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
.section-1{
    background-color: #404EED;
    width: 100vw;
    height: 40rem;
    font-family: 'Open Sans', sans-serif;
}
.discord-logo img{
    max-height: 1.6rem;
    width: auto;
}
.navbar-center {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    font-weight: bolder;
    font-size: 1rem;
    margin-left: 20px;
}
.login{
    display: flex;
    align-items: center;justify-content: center;
}
.login-btn{
    background:#fff ;
    height: 40px;
    width: 70px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: bold;
}

.bg-1{
    z-index: 0;
    position: absolute;
    bottom: 11.8rem;
    left: -33rem;
}
.bg-2{
    z-index: 1;
    position: absolute;
    bottom: 11.8rem;
    left: -17rem;
}
.bg-3{
    z-index: 1;
    position: absolute;
    bottom: 11.8rem;
    right: -14rem;
}
.section-1-body-content{
    display: flex;
    /* justify-content: end; */
    align-items:center;
    flex-direction: column;
    margin-top: 8rem;
}
.imagine{
    font-size: 4rem;
    font-family:LuckiestGuy ;
    letter-spacing: 2px;
}
.imagine-discription{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
}
.download-mac{
    background-color: #fff;
    height: 60px;
    width: 280px;
    border-radius: 50px;
    display: flex;justify-content: center;align-items: center;
    font-size: 1.2rem;
    font-weight:500;
}
.open-discord{
    background-color: #000;
    height: 60px;
    width: 320px;
    border-radius: 50px;
    display: flex;justify-content: center;align-items: center;
    font-size: 1.2rem;
    font-weight:500;
}
.study-group{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: auto;
    padding: 50px;
}
.study-img img{ 
    max-width: 100%;
    height: auto;
}
.study-content{
    max-width: 400px !important;
    height: auto !important;
    display: block;

}
.study-content-head{
    font-size: 3rem;
    font-family: 'Rowdies', cursive;
    line-height:3.5rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.study-content-discription{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.9rem;
}

@media screen and (max-width:425px) {
    .navbar-center{
        display: block;
    }
    .discord-logo img{
        height: 1.3rem;
    }
    .section-1-body-content{
        margin-top: 5rem;
    }
    .section-1-body-buttons{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 3rem !important;
    }
    .download-mac{
        margin-left: 15px;
    }
    .section-1{
        height: auto;
    }
    .imagine{
        font-size: 2rem;
    }
    .imagine-discription{
        font-size: 0.9rem;
        margin: 10px 30px 30px 30px;
    }
    .study-group{
        display: block;
    }
    .study-content-head{
        font-size: 1.3rem;
        line-height:1.5rem;
    }
    .study-content-discription{
    font-size: 1rem;
    line-height: 1.5rem;
    }
}
